#categories {
            padding-left: 0px;
            line-height: 4;
            margin: 0;
}
#categoriescontainer {
    background-color: white;
}
#linewithtime{
    border-top: 2px solid black;
}

#categories li{
    list-style: none;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 4px;
}
#categories li:hover {
    background-color: rgba(220, 220, 220, 0.31);
}
#categories li a {
    text-decoration: none;
    color: #777777;
    font-size: 95%;
}

#categories li:hover  #categories li a {
    color: white;
}

.categoriestopprnt{
    padding: 0;
}

.parentspacing{
    width: 100px;
}
body{
    /*background-color: #f5f5f5;*/
}
.container, .container-fluid{
    background-color: white;
}