#categories {
            padding-left: 0px;
            line-height: 3;
}
#categoriescontainer {
    background-color: white;
}
#linewithtime{
    border-top: 2px solid black;
}

#categories li{
    list-style: none;
    border: none;
    cursor: pointer;
}
#categories li:hover {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    font-family: kok;
    background-color: rgba(220, 220, 220, 0.31);
}
#categories li a {
    text-decoration: none;
    color: #777777;
    font-size: 80%;
}

#categories li:hover  #categories li a {
    color: white;
}