.productimage {
            background-size:100%;
            background-position:center;
            background-repeat:no-repeat;
            -webkit-transition: border 0.6s, background-size 0.6s;  /* For Safari 3.1 to 6.0 */
            transition: border 0.6s, background-size 0.6s;
        }
        
.productimage:hover{
    border:1px solid red;
    background-size: 110%;
}